flows.json
[{"id":"e905a40e.4fa968","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"15a35434.b5b8cc","type":"ui_form","z":"e905a40e.4fa968","name":"","label":"","group":"6670db5f.335c84","order":5,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":260,"wires":[["9d4eb6db.c03698"]]},{"id":"9d4eb6db.c03698","type":"function","z":"e905a40e.4fa968","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["a2913321.ecddd","63daae9.eb10a5"]]},{"id":"a2913321.ecddd","type":"watson-conversation-v1","z":"e905a40e.4fa968","name":"chatbot","workspaceid":"90651be5-64b7-40ef-8976-0ce0e6525d33","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4ead391f-e303-45af-99e5-0f8e1cdec538","timeout":"","optout-learning":false,"x":380,"y":60,"wires":[["b0eafe8c.91b5e","ee4a371d.162c48"]]},{"id":"ee4a371d.162c48","type":"function","z":"e905a40e.4fa968","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["35daeee4.7f5fb2"]]},{"id":"b0eafe8c.91b5e","type":"debug","z":"e905a40e.4fa968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":20,"wires":[]},{"id":"63daae9.eb10a5","type":"ui_text","z":"e905a40e.4fa968","group":"6670db5f.335c84","order":6,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":370,"y":280,"wires":[]},{"id":"35daeee4.7f5fb2","type":"ui_text","z":"e905a40e.4fa968","group":"6670db5f.335c84","order":7,"width":15,"height":2,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":700,"y":180,"wires":[]},{"id":"6670db5f.335c84","type":"ui_group","z":"","name":"chatbot","tab":"ecc7ba97.27e768","order":1,"disp":true,"width":15,"collapse":false},{"id":"ecc7ba97.27e768","type":"ui_tab","z":"","name":"customer care helpdesk","icon":"dashboard","disabled":false,"hidden":false}]